<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testNGXMLTest" parallel="tests" thread-count="3">
    <test name="testOne">
        <parameter name="browser" value="ch"></parameter>
        <classes>
            <class name="CustomerPageTest.QuickQA">

            </class>
        </classes>

    </test>

</suite>